<ng-container *transloco="let t; read: 'serviceManagement.serviceRequestListComponent'">
    <div class="container-fluid tis-main-container" id="tis-main-container">
        <div class="tis-page">
            <h1 class="tis-page-title">{{t('cases')}}</h1>
            <tis-smart-table-viewer #mainTableWrapper [columnCustomizationUrlConfig]="columnCustomizationUrlConfig" [t]="getLanguageJson" componentName="cm-service-request" [mainTitle]="t('list')"
                [breadcrumbs]="[{url: '/admin/service-management/cases', name: t('breadcrumb')}]"
                [columnsCodeMapping]="columnsCodeMapping" [searchPlaceholder]="t('searchPlaceholder')"
                [loadDataApiBaseUrl]="loadDataApiBaseUrl" [(pageSize)]="pageSize" [(pageIndex)]="pageIndex" [hideHeader]="true"
                [rowsConfig]="rowsConfig" [filterFormGroup]="filterFormGroup" [keepFilterInUrl]="true" [dataNotFoundConfig]="{
                    title: t('noDataFound'),
                    desc: t('noDataFoundDescription'),
                    btnText: t('addNew'),
                    btnUrl: '/admin/service-management/cases/add'}
                "
                [enableRowsSelection]="true" [enableAllRowsSelection]="true" [selectedRowIds]="selectedRowIds" (selectedRowsChange)="selectedRowsChanged($event)"
                (onDataLoaded)="onDataLoaded($event)" (onSetExtraData)="onSetExtraData($event)" (onSetTotal)="onSetTotal($event)">

                <!--Filter Buttons-->
                <ng-container slot="filter-button-section">
                    <li class="tis-inline-group-item">
                        <button mat-flat-button class="tis-text-upper tis-bg-light" (click)="changeFilterVisibility()">
                            <mat-icon style="margin: 0px;">filter_alt</mat-icon>
                            <span class="lg:inline hidden ml-2">{{t("filter")}}</span>
                        </button>
                    </li>

                </ng-container>
                <!--Filter Buttons End-->

                <!-- Filter Section Start -->
                <ng-container slot="filter-form-section">

                    <form [formGroup]="filterFormGroup" (ngSubmit)="filterRecords()">
                        <div [ngClass]="{'hidden': !isShowFilter}" class="grid grid-cols-1 my-5">
                    
                            <div class="grid grid-cols-12 gap-x-3">
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-client-side-dropdown label="{{t('company')}}" type="single" nameKey="name" valueKey="id"
                                        [data]="companyList" formControlName="companyId" [config]="config.companyId"
                                        (selectedValueNamesUpdated)="updateSelectedFilterValues($event)"></tis-client-side-dropdown>
                                </div> -->
                    
                                <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-client-side-dropdown label="{{t('documentStatus')}}" type="multiple" nameKey="name" valueKey="id"
                                        [data]="documentStatusList" formControlName="documentStatusId" [config]="config.documentStatusId"
                                        (selectedValueNamesUpdated)="updateSelectedFilterValues($event)"></tis-client-side-dropdown>
                                </div>
                    
                                <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-client-side-dropdown label="{{t('trackingStatus')}}" type="multiple" nameKey="name" valueKey="id"
                                        [data]="trackingStatusList" formControlName="trackingStatusId" [config]="config.trackingStatusId"
                                        (selectedValueNamesUpdated)="updateSelectedFilterValues($event)"></tis-client-side-dropdown>
                                </div>
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-server-side-dropdown class="w-full" label="{{t('lastUpdatedBy')}}" type="single" nameKey="name"
                                        valueKey="id" [data]="lastUpdatedByList" formControlName="lastUpdatedById"
                                        [config]="config.lastUpdatedById">
                                    </tis-server-side-dropdown>
                                </div> -->
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-server-side-dropdown class="w-full" label="{{t('initiator')}}" type="multiple" nameKey="name"
                                        valueKey="id" [data]="initiatorList" formControlName="initiatorId" [config]="config.initiatorId">
                                    </tis-server-side-dropdown>
                                </div> -->
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-server-side-dropdown class="w-full" label="{{t('owner')}}" type="multiple" nameKey="name"
                                        valueKey="id" [data]="ownerList" formControlName="ownerId" [config]="config.ownerId">
                                    </tis-server-side-dropdown>
                                </div> -->
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-date appearance="outline" label="{{t('fromSubmissionDate')}}"
                                        placeholder="{{t('fromSubmissionDate')}}" formControlName="fromDateCreated"
                                        [isDisplayPickerLabel]="true"
                                        (dateChange)="updateSelectedFilterValues({valueKey: null, value: 'From Submission Date' + dateTime.fromJSDate($event).toFormat('dd-MM-yyyy') , formControlName: 'fromDateCreated', formControlType: 'input'})">
                                    </tis-date>
                                </div> -->
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-date appearance="outline" label="{{t('toSubmissionDate')}}" placeholder="{{t('toSubmissionDate')}}"
                                        formControlName="toDateCreated" [isDisplayPickerLabel]="true"
                                        (dateChange)="updateSelectedFilterValues({valueKey: null, value: 'To Submission Date ' + dateTime.fromJSDate($event).toFormat('dd-MM-yyyy') , formControlName: 'toDateCreated', formControlType: 'input'})">
                                    </tis-date>
                                </div> -->
<!--                     
                                <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-date appearance="outline" label="{{t('fromLastUpdated')}}" placeholder="{{t('fromLastUpdated')}}"
                                        formControlName="fromLastUpdated" [isDisplayPickerLabel]="true"
                                        (dateChange)="updateSelectedFilterValues({valueKey: null, value: 'From Date Updated ' + dateTime.fromJSDate($event).toFormat('dd-MM-yyyy') , formControlName: 'fromLastUpdated', formControlType: 'input'})">
                                    </tis-date>
                                </div> -->
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <tis-date appearance="outline" label="{{t('toLastUpdated')}}" placeholder="{{t('toLastUpdated')}}"
                                        formControlName="toLastUpdated" [isDisplayPickerLabel]="true"
                                        (dateChange)="updateSelectedFilterValues({valueKey: null, value: 'To Date Updated' + dateTime.fromJSDate($event).toFormat('dd-MM-yyyy') , formControlName: 'toLastUpdated', formControlType: 'input'})">
                                    </tis-date>
                                </div> -->
                    
                                <!-- <div class="col-span-12 md:col-span-4 lg:col-span-3">
                                    <mat-checkbox formControlName="showMyDocumentsOnly" class="tis-form-field"
                                        (change)="updateSelectedFilterValues({valueKey: null, value: 'Show My Documents Only' , formControlName: 'showMyDocumentsOnly', formControlType: 'input'})">{{t('showMyDocumentsOnly')}}</mat-checkbox>
                                </div> -->
                    
                                <div class="col-span-12 flex justify-between">
                                    <button mat-button type="reset" class="tis-btn-primary tis-text-upper"
                                        (click)="tableListViewWrapperComponent.resetFilters()">
                                        {{t('resetAll')}}
                                    </button>
                                    <button mat-raised-button type="submit" class="tis-text-upper tis-btn-filled-primary">
                                        {{t('applyFilters')}}
                                    </button>
                                </div>
                    
                            </div>
                    
                        </div>
                    </form>

                </ng-container>
                <!-- Filter Section End -->

                <!-- TABLE START -->
        <ng-template let-column="colDef" let-element="colData" #titleColumnTemplate>
            <a [routerLink]="['/admin/document-distribution/documents/details', element?.id]"
                class="tis-a">{{element?.title2}}</a><span *ngIf="element?.isViewMoreTitle">...</span><span
                *ngIf="element?.isViewMoreTitle" class="tis-a" style="font-size: 12px;"
                > View more </span>
        </ng-template>
        
        <ng-template let-column="colDef" let-element="colData" #descriptionColumnTemplate>
            <a [routerLink]="['/admin/document-distribution/documents/details', element?.id]"
                class="tis-a">{{element?.description2}}</a><span *ngIf="element?.isViewMoreDescription">...</span><span
                *ngIf="element?.isViewMoreDescription" class="tis-a" style="font-size: 12px;"
                > View more </span>
        </ng-template>
        
        <ng-template let-column="colDef" let-element="colData" #documentStatusColumnTemplate>
            <span class="tis-badge-round" [ngClass]="{ 
                                'document-status-badge-outline-draft': element.currentDocumentStatus == 0, 
                                'document-status-badge-outline-new': element.currentDocumentStatus == 1, 
                                'document-status-badge-outline-pending': element.currentDocumentStatus == 2, 
                                'document-status-badge-outline-approved': element.currentDocumentStatus == 3, 
                                'document-status-badge-outline-rejected': element.currentDocumentStatus == 4, 
                                'document-status-badge-outline-completed': element.currentDocumentStatus == 5, 
                                }">
                {{element.documentStatus}}
            </span>
        </ng-template>
        
        <ng-template let-column="colDef" let-element="colData" #trackingStatusColumnTemplate>
            @if(element.trackingStatus) {
            <span class="tis-badge-round" [ngClass]="{ 
                            'document-status-badge-outline-ready-for-pickup': element.currentTrackingStatus == 2, 
                            'document-status-badge-outline-picked-up': element.currentTrackingStatus == 3, 
                            'document-status-badge-outline-delivered': element.currentTrackingStatus == 4, 
                            'document-status-badge-outline-received': element.currentTrackingStatus == 5, 
                    }">
                {{element.trackingStatus}}
            </span>
            }
        </ng-template>
        
        <ng-template let-column="colDef" let-element="colData" #actionColumnTemplate>
            <ul class="tis-btn-group">
                <li class="tis-btn-group-item">
                    <button mat-icon-button matTooltip="Print Cover Sheet">
                        <mat-icon class="tis-text-primary">print</mat-icon>
                    </button>
                </li>
            </ul>
        </ng-template>
                <!-- TABLE END -->
            </tis-smart-table-viewer>
        </div>
    </div>
</ng-container>