$default-text-color: #757575;
$default-icon-color: #5b6871;
$default-sidebar-text-color: #757575;

$primary-palette: (
    50 : #e7e7f4,
    100 : #c3c3e3,
    200 : #9c9cd1,
    300 : #7474be,
    400 : #5656b0,
    500 : #3838a2,
    600 : #32329a,
    700 : #2b2b90,
    800 : #242486,
    900 : #171775,
    A100 : #adadff,
    A200 : #7a7aff,
    A400 : #4747ff,
    A700 : #2e2eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-palette: (
    50 : #e8fbf9,
    100 : #c6f6f1,
    200 : #a0f0e8,
    300 : #79e9de,
    400 : #5de5d7,
    500 : #40e0d0,
    600 : #3adccb,
    700 : #32d8c4,
    800 : #2ad3be,
    900 : #1ccbb3,
    A100 : #ffffff,
    A200 : #cefff8,
    A400 : #9bfff0,
    A700 : #81ffec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn-palette: (
    50 : #ffeaea,
    100 : #ffc9c9,
    200 : #ffa6a6,
    300 : #ff8282,
    400 : #ff6767,
    500 : #ff4c4c,
    600 : #ff4545,
    700 : #ff3c3c,
    800 : #ff3333,
    900 : #ff2424,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd2d2,
    A700 : #ffb8b8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$secondary-palette: (
    50 : #fcfcfe,
    100 : #f8f8fe,
    200 : #f3f3fd,
    300 : #eeeefc,
    400 : #eaeafb,
    500 : #e6e6fa,
    600 : #e3e3f9,
    700 : #dfdff9,
    800 : #dbdbf8,
    900 : #d5d5f6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$info-palette: (
    50 : #e6fafd,
    100 : #c1f2fb,
    200 : #98e9f9,
    300 : #6fe0f6,
    400 : #50d9f4,
    500 : #31d2f2,
    600 : #2ccdf0,
    700 : #25c7ee,
    800 : #1fc1ec,
    900 : #13b6e8,
    A100 : #ffffff,
    A200 : #e4f8ff,
    A400 : #b1ebff,
    A700 : #97e4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$error-palette: (
    50 : #feeaea,
    100 : #fecbcb,
    200 : #fda8a8,
    300 : #fc8585,
    400 : #fb6b6b,
    500 : #fa5151,
    600 : #f94a4a,
    700 : #f94040,
    800 : #f83737,
    900 : #f62727,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffcccc,
    A700 : #ffb3b3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warning-palette: (
    50 : #fffaeb,
    100 : #fedf89,
    200 : #fcc680,
    300 : #faaf4d,
    400 : #f99d26,
    500 : #f88c00,
    600 : #f78400,
    700 : #f67900,
    800 : #f56f00,
    900 : #f35c00,
    A100 : #ffffff,
    A200 : #ffeee6,
    A400 : #ffcbb3,
    A700 : #ffba9a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warning-palette2: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$success-palette: (
    50 : #ecfdf4,
    100 : #b9f6cb,
    200 : #a6d7a8,
    300 : #82c785,
    400 : #67bb6a,
    500 : #4caf50,
    600 : #45a849,
    700 : #3c9f40,
    800 : #339637,
    900 : #248627,
    A100 : #c5ffc7,
    A200 : #92ff95,
    A400 : #5fff64,
    A700 : #46ff4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$danger-palette: (
    50 : #fff3f2,
    100 : #fdcdca,
    200 : #dd999d,
    300 : #cf7076,
    400 : #c55258,
    500 : #bb333b,
    600 : #b52e35,
    700 : #ac272d,
    800 : #a42026,
    900 : #961419,
    A100 : #ffc9cb,
    A200 : #ff9699,
    A400 : #ff6367,
    A700 : #ff4a4e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark-palette: (
    50 : #e4e4e5,
    100 : #bbbcbd,
    200 : #8e8f91,
    300 : #606265,
    400 : #3e4144,
    500 : #1c1f23,
    600 : #191b1f,
    700 : #14171a,
    800 : #111215,
    900 : #090a0c,
    A100 : #5252ff,
    A200 : #1f1fff,
    A400 : #0000eb,
    A700 : #0000d2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$light-palette: (
    50 : #fefefe,
    100 : #fcfcfc,
    200 : #fafafa,
    300 : #f8f8f8,
    400 : #f7f7f7,
    500 : #f5f5f5,
    600 : #f4f4f4,
    700 : #f2f2f2,
    800 : #f0f0f0,
    900 : #eeeeee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);